{% extends "layout.html" %}
{% block content %}
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>Prosafety</span></h2>
            <p class="animate__animated animate__fadeInUp">Somos fabricantes de botiquines y estuches para uso médico. Diseñamos nuestros botiquines pensado en las necesidades del día a día en todos los campos. 
            </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main id="main">
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
          <h2>MEXATECH</h2>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Equipo médico prehospitalario, de urgencias médicas y seguridad industrial para brigadas, 
            profesionales de la salud y sector público.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="services">
    <div class="container">
      <h3>Nosotros</h3>
      <div class="row">
          <!-- <div class="col-md-12 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-hdd-fill"></i>
              <h4><a href="#">Objetivo general</a></h4>
              <p>Ser la tienda de videojuegos y consolas líder en nuestra región, ofreciendo la mejor selección de juegos, consolas y accesorios, así como un servicio excepcional al cliente.</p>
            </div>
          </div> -->
        <div class="col-md-6">
          <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="#">Misión</a></h4>
            <p>Nuestra misión es proporcionar a los paramédicos y otros profesionales de la salud los mejores
               botiquines/mochilas de primeros auxilios disponibles en el mercado, para que puedan brindar 
               atención médica de alta calidad a las personas en situaciones de emergencia. 
               Nos esforzamos por diseñar y fabricar productos duraderos, ergonómicos y fáciles de usar que 
               satisfagan las necesidades de nuestros clientes.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="#">Visión</a></h4>
            <p> Nuestra visión es convertirnos en líderes en la fabricación y venta de botiquines/mochilas 
              para paramédicos en todo el mundo, mediante la innovación constante, la mejora continua de la 
              calidad y la excelencia en el servicio al cliente. 
              Queremos ser reconocidos por nuestra contribución a la mejora de la atención médica de emergencia 
              y por nuestra capacidad para adaptarnos a las cambiantes necesidades del mercado.
            </p>
          </div>
        </div>
        <div class="col-md-12 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-motherboard-fill"></i>
            <h4><a href="#">Valores</a></h4>
            <p>
              <br>En nuestra empresa, valoramos la calidad, la innovación, la responsabilidad social, 
              la integridad y el compromiso con nuestros clientes y empleados.<br>
              <br>Nos esforzamos por ofrecer productos de alta calidad que sean seguros, fiables y duraderos.<br>
              <br>Fomentamos la innovación y la creatividad en el diseño y la fabricación de nuestros productos.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}