pyBabel
bcrypt
blinker
cffi
click
colorama
dnspython
email-validator
Flask
Flask-BabelEx
Flask-Login
Flask-Mail
flask-marshmallow
Flask-Principal
Flask-Security
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
marshmallow
mysqlclient
passlib
pycparser
pytz
six
speaklater
SQLAlchemy
Werkzeug
WTForms
python-dotenv
pymysql
pyodbc
pandas