{% extends "layout.html" %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container d-flex justify-content-between align-items-center">
            <h2>Productos</h2>
            <a type="button" class="btn btn-success" id="ventanaCarrito" style="margin-left: auto;"><i class="fa fa-shopping-cart"></i> Carrito</a>
        </div>
    </section> 
    <!-- End Breadcrumbs -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">Pagina de login</a>.
    </div>
    {% endif %}
    {% endwith %}

    <!-- ======= Contact Section ======= -->
            <!-- inicio carrito -->     
    <section>
        <div class="modal fade" id="modalCarrito" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Carrito de Compras</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                
                            </thead>
                            <tbody id="carritoBody">
                            </tbody>
                        </table>
                        <div class="total-container">
                            <label for="total">Subtotal:</label>
                            $<input type="text" class="subtotal"id="subtotal" readonly>
                        </div>
                        <div class="alert alert-success" id="carritoAlert" style="display:none">
                            <h6><strong>Tu pedido se ha realizado correctamente</strong></h6>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="button" data-dismiss="modal">
                            Cerrar
                        </button>
                        <button class="btn btn-success" type="button" id="btnPago">
                            Comprar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- termino carrito de comras -->

    <!-- inicio tarjeta -->
    <section>
        <div class="modal fade" id="modalTarjeta" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Validar pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                          <label for="input-numero-tarjeta">Número de Tarjeta:</label>
                          <input type="text" class="form-control" id="input-numero-tarjeta" maxlength="16" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="input-fecha-vencimiento-mes">Mes de Vencimiento:</label>
                            <input type="text" class="form-control" id="input-fecha-vencimiento-mes" maxlength="2" placeholder="MM" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="input-fecha-vencimiento-anio">Año de Vencimiento:</label>
                            <input type="text" class="form-control" id="input-fecha-vencimiento-anio" maxlength="2" placeholder="AA" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="input-CVV">CVV:</label>
                            <br>
                            <br>
                            <input type="text" class="form-control" id="input-CVV" maxlength="3" placeholder="cvv" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                          </div>
                        </div>
                        <div id="mensaje-error" class="text-danger"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="button" data-dismiss="modal">
                            Cerrar
                        </button>
                        <button class="btn btn-success" type="button" id="comprarBtn">
                            Comprar
                        </button>
                        <button class="btn btn-success" type="button" id="btnVerificarTarjeta">
                            Verificar Tarjeta
                        </button>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- fin tarjeta -->

    <!-- inicio galeria -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-no-gutters">
                {% for producto in productos %}
                <div class="col">
                    <div class="product-card">
                        <img src="../static/img/productos/{{producto.image_name}}" class="card-img-top" alt="..." style="max-height: 200px; object-fit: contain; margin: auto;">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre}}</h5>
                            <p class="card-text">${{producto.precio}}</p>
                        </div>
                        <button class="btn btn-primary agregar-carrito" value="{{producto.idProducto}}">Agregar al carrito</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}