{% extends "layout.html" %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Pedidos</h2>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {{ messages[0] }}.</a>.
    </div>
    {% endif %}
    {% endwith %}

    <!-- ======= Contact Section ======= -->

  <!-- Incio Tabla -->
    <section>
        <div class="container">
          <table id="myTable" class="display">
            <thead>
              <tr>
                <th>Nombre Usuario</th>
                <th>Estatus</th>
                <th>Dirección de envio</th>
                <th>Fecha de Compra</th>
                <th>Subtotal</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for detalle in detalles %}
              <tr>
                <td>{{ detalle.userName }}</td>
                <td>{{ detalle.descripcionEstatus }}</td>
                <td>{{ detalle.domicilio }}</td>
                <td>{{ detalle.fechaCompra }}</td>
                <td>${{ detalle.subtotal }}</td>
                <td>
                    {% if (current_user.idrole == 1 or current_user.idrole == 2 or current_user.idrole == 4) %}
                    <button class="btn btn-warning"><a class="btnVerDetalle" href="{{ url_for('pedidos.ver_detalle', idPedido=detalle.idCompra) }}">Ver Detalle</a></button>
                    {% endif %}
                    {% if detalle.descripcionEstatus == 'PEDIDO ENVIADO' and (current_user.idrole == 1 or current_user.idrole == 3) %}
                    <button class="btn btn-success btnEntregar" value="{{ detalle.idCompra }}" >Entregar Pedido</button>
                    {% endif %}
                    {% if detalle.descripcionEstatus == 'ELABORANDO PEDIDO' and (current_user.idrole == 1 or current_user.idrole == 2) %}
                      <button class="btn btn-success btnEnviar" value="{{ detalle.idCompra }}" >Enviar Pedido</button>
                    {% endif %}
                    {% if detalle.descripcionEstatus == 'EN ESPERA DE ELABORACION' and (current_user.idrole == 1 or current_user.idrole == 2) %}
                      <button class="btn btn-success btnAceptar" value="{{ detalle.idCompra }}" >Elaborar Pedido</button>
                    {% endif %}
                    {% if detalle.descripcionEstatus == 'EN ESPERA DE ELABORACION' and (current_user.idrole == 1 or current_user.idrole == 2 or current_user.idrole == 4) %}
                        <button class="btn btn-danger btnCancelarPedido" value="{{ detalle.idCompra }}">Cancelar</button>
                    {% endif %}
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      
    
    
      

</main><!-- End #main -->
{% endblock %}