{% extends "layout.html" %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Signup</h2>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}

    <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mt-lg-0 mx-auto">
                        <form>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="email">Correo electrónico:</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" placeholder="Ingresa tu nombre" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Ingresa tu contraseña" required>
                                </div>
                                <div class="col-md-12"><hr></div>
                                <div class="col-md-6 form-group">
                                    <label for="estado">Estado:</label>
                                    <input type="text" class="form-control" name="estado" id="estado" placeholder="Ingresa tu estado" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="municipio">Municipio:</label>
                                    <input type="text" class="form-control" name="municipio" id="municipio" placeholder="Ingresa tu municipio" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="codigoPostal">Código Postal:</label>
                                    <input type="number" class="form-control" name="codigoPostal" id="codigoPostal" placeholder="Ingresa tu código postal" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="colonia">Colonia:</label>
                                    <input type="text" class="form-control" name="colonia" id="colonia" placeholder="Ingresa tu colonia" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="calle">Calle:</label>
                                    <input type="text" class="form-control" name="calle" id="calle" placeholder="Ingresa tu calle" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="numeroInt">Número Interior:</label>
                                    <input type="number" class="form-control" name="numeroInt" id="numeroInt" placeholder="Ingresa tu número interior" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="numeroExt">Número Exterior (opcional):</label>
                                    <input type="number" class="form-control" name="numeroExt" id="numeroExt" placeholder="Ingresa tu número exterior">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="referencia">Referencia:</label>
                                    <input type="text" class="form-control" name="referencia" id="referencia" placeholder="Ingresa una referencia para ubicar tu domicilio" required>
                                </div>
                                <div id="mensaje-error" class="text-danger"></div>
                            </div>
                            <div class="text-center"><input class="btn btn-primary" id="btnRegistrar"  type="submit" value="Iniciar sesión"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
</main><!-- End #main -->
{% endblock %}